Source: katdal
Section: python
Priority: optional
Maintainer: Gijs Molenaar <gijs@pythonic.nl>
Build-Depends: debhelper (>= 10),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-katversion,
 python3-katpoint
Standards-Version: 4.5.0
Homepage: https://github.com/ska-sa/katdal
Vcs-Git: git://github.com/kernsuite-debian/katdal.git
Vcs-Browser: https://github.com/kernsuite-debian/katdal
X-Python3-Version: >= 3.6

Package: python3-katdal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
 python-katversion, python-katpoint, python-casacore
Description: Data access library for the MeerKAT project
 This package serves as a data access library to the HDF5 files produced by the
 Fringe Finder, KAT-7 and MeerKAT data capturing systems. It uses memory
 carefully, allowing files to be inspected and partially loaded into memory.
 Data sets may be concatenated and split via a flexible selection mechanism.
 In addition, it provides a script to convert these HDF5 files to CASA
 MeasurementSets.
