Source: katdal
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools,
 python3-katversion,
 python3-katpoint,
 python3-casacore,
 python3-numpy,
 python3-h5py,
 python3-numba,
 python3-katsdptelstate,
 python3-dask,
 python3-requests,
 python3-jwt,
 python3-cityhash,
 python3-packaging,
 python3-pytest
Standards-Version: 4.7.2.0
Homepage: https://github.com/ska-sa/katdal
Vcs-Git: git://github.com/kernsuite-debian/katdal.git
Vcs-Browser: https://github.com/kernsuite-debian/katdal
X-Python3-Version: >= 3.12

Package: python3-katdal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-casacore
Description: Data access library for the MeerKAT project
 This package serves as a data access library to the HDF5 files produced by the
 Fringe Finder, KAT-7 and MeerKAT data capturing systems. It uses memory
 carefully, allowing files to be inspected and partially loaded into memory.
 Data sets may be concatenated and split via a flexible selection mechanism.
 In addition, it provides a script to convert these HDF5 files to CASA
 MeasurementSets.
