#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export PYBUILD_NAME=katdal
export PYBUILD_TEST_ARGS={dir}/katdal/test
# Set the test runner to pytest
export PYBUILD_TEST_RUNNER=pytest

%:
	dh $@ --with python3 --buildsystem=pybuild
